/.DS_Store
/.vscode
/NULL_values.sql
/UNION_operators.sql
/aggregation_&_groupby.sql
/case_expressions.sql
/csv_files
/date_functions.sql
/having_method.sql
/introduction.sql
/operations.sql
/practice_problem_1.sql
/practice_problem_2.sql
/practice_problem_3.sql
/practice_problem_6.sql
/practice_problem_7.sql
/practice_problem_8.sql
/subqueries_CTES_part_1.sql
/subqueries_CTES_part_2.sql
/wildcards_&_alias.sql